@model IEnumerable<Momentum.Models.Project>


@if (ViewBag.projectCount == 0)
{
    <div class="text-center">
        <h3 class="display-4 font-italic"> You currently do not have any finished projects</h3>
    </div>

}
else
{


        ViewData["Title"] = "GetAccomplishedProjects";


    <div class="text-center">
        <h1 class="display-4 font-italic">Accomplished Projects</h1>

    </div>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCompleted)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCompleted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProjectId" class="links">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProjectId" class="links">Details</a> 
                </td>
            </tr>
            }
        </tbody>
    </table>
        }