@model Momentum.Models.Friendship

@{
    ViewData["Title"] = "Create";
    
}
  
    <h3>Are you sure you want to follow @Html.DisplayFor(model => model.Friended.FirstName) @Html.DisplayFor(model => model.Friended.LastName) ?</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Friendships">
            <input type="hidden" value="@Model.FriendId" asp-for="@Model.FriendId" />
            <input type="hidden" value="@Model.UserId" asp-for="@Model.UserId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Follow User" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="links">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
