@model Momentum.Models.ViewModels.UserAndFriendsViewModel

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.UsersNotFriendsWithCount == 0)
{
    <div class="text-center">
        <h1>There are no Momentum users for you to follow</h1>

    </div>

}
else
{

    <div class="text-center pb-sm-2">
        <h1>Meet the Momentum Gang</h1>
        </div>
        <table class="table">
            <thead>
             
            </thead>
            <tbody>
                <div>
                @foreach (var item in Model.notFriends)
                {
                    if (item != null)
                    {


                        <tr>
                            <td>
                                  @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                <a asp-action="Create" asp-route-id="@item.Id">Follow User</a> |
                                <a asp-action="GetUserProfile" asp-controller="Home" asp-route-id="@item.Id">View Profile</a> |
                            </td>

                        </tr>
                    }
                }
                </div>
            

                @foreach (var item in Model.peopleCurrentUserIsFollowing)
                {
                    if (item != null)
                    {


                        <tr>
                            <td>
                                You are following    @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                <a asp-action="Delete" asp-controller="Friendships" asp-route-id="@item.Id">Unfollow User</a> |
                                <a asp-action="GetUserProfile" asp-controller="Home" asp-route-id="@item.Id">View Profile</a> |
                            </td>

                        </tr>
                    }
                }

                @foreach (var item in Model.peopleFollowingCurrentUser)
                {

                    if (item != null)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName) is following you
                            </td>
                            <td>
                                <a asp-action="Create" asp-route-id="@item.Id">Follow User</a> |
                                <a asp-action="GetUserProfile" asp-controller="Home" asp-route-id="@item.Id">View Profile</a> |
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        }
