@model Momentum.Models.ViewModels.UserProfileViewModel


@{
    ViewData["Title"] = "GetUserProfile";
    var loggedInUser = User.Identity.Name;
}


@if (loggedInUser == Model.User.UserName)
{
    <div id="profileimagecontainer">
        <div class="card" id="profileImage">
            @if (Model.User.ImagePath != null)
            {
                <img src="/images/profilepictures/@Model.User.ImagePath" style="width:100%" alt=“avatar” />
            }
            <h1> @Html.DisplayFor(modelItem => Model.User.FirstName) @Html.DisplayFor(modelItem => Model.User.LastName)</h1>
            <p class="title">@@@Html.DisplayFor(modelItem => Model.User.UserName)</p>
        </div>
    </div>

    <div id="profilePage">
        <div class="card text-center rounded width33" id="profileContainer">
            <h3 class="card-header">Current Projects </h3>

            @if (ViewBag.projectCount == 0)
            {
                <h3>You don't have any current projects. Would you like to create one?</h3>
                <p>
                    <a asp-action="Create" asp-controller="Projects">Create New</a>
                </p>

            }
            else
            {
                @foreach (var item in Model.Projects)
                {
                    <p class="card-body text-center ">
                    <p id="projectName">
                        <strong> @Html.DisplayFor(modelItem => item.ProjectName)</strong>
                    </p>
                    <p>
                        - @Html.DisplayFor(modelItem => item.Language)
                    </p>
                    </p>
                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.ProjectId" class="links">View Project</a>
                    <hr />
                }
            }
        </div>

        <div class="card  text-center rounded width33">
            <h3 class="card-header">Accomplished Projects </h3>

            @if (ViewBag.accomplishedProjectCount == 0)
            {
                <h3>You don't have any accomplished projects, but keep working. You're doing great!</h3>


            }
            else
            {
                @foreach (var item in Model.AccomplishedProjects)
                {
                    <p>
                    <p>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </p>
                    <p>
                        - @Html.DisplayFor(modelItem => item.Language)
                    </p>
                    </p>
                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.ProjectId" class="links">View Project</a>
                }
            }
        </div>


        <div class="width33" id="friendsList">
            <h3>Friends</h3>

            @if (ViewBag.UsersFriendsCount >= 1)
            {

                @foreach (var item in Model.ApplicationUsers)
                {
                    <ul>
                        <li>
                            following @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                        </li>

                        <a asp-action="GetUserProfile" asp-controller="Home" asp-route-id="@item.Id" class="links">View Profile</a>
                    </ul>
                    <br />
                }
            }
            else
            {
                <h3> not following any other Momentum users</h3>
                <p>
                    <a asp-action="Index" asp-controller="Friendships" class="links">View Users</a>
                </p>
            }
        </div>
    </div>



    <h3>Upload Photo</h3>

    <div class="tab-pane" id="edit">
        <form asp-action="UploadProfilePic" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.User.Id" />

            <div class="form-group">
                <div class="custom-file col-md-6">
                    <label asp-for="ImageFile" class="custom-file-label">Upload Profile Picture</label>
                    <input asp-for="ImageFile" class="custom-file-input" type="file" /><br><br>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </form>

    </div>

}


else
{


    <div id="profileimagecontainer">
        <div class="card" id="profileImage">
            @if (Model.User.ImagePath != null)
            {
                <img src="/images/profilepictures/@Model.User.ImagePath" style="width:100%" alt=“avatar” />
            }
            <h1> @Html.DisplayFor(modelItem => Model.User.FirstName) @Html.DisplayFor(modelItem => Model.User.LastName)</h1>
            <p class="title">@@@Html.DisplayFor(modelItem => Model.User.UserName)</p>
        </div>
    </div>

    <div id="profilePage">
        <div class="card text-center rounded width33" id="profileContainer">
            <h3 class="card-header">Current Projects </h3>

            @if (ViewBag.projectCount == 0)
            {
                <h3>This user does not have any current projects.</h3>
             

            }
            else
            {
                @foreach (var item in Model.Projects)
                {
                    <p class="card-body text-center ">
                    <p id="projectName">
                        <strong> @Html.DisplayFor(modelItem => item.ProjectName)</strong>
                    </p>
                    <p>
                        - @Html.DisplayFor(modelItem => item.Language)
                    </p>
                    </p>
                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.ProjectId" class="links">View Project</a>
                    <hr />
                }
            }
        </div>

        <div class="card  text-center rounded width33">
            <h3 class="card-header">Accomplished Projects </h3>

            @if (ViewBag.accomplishedProjectCount == 0)
            {
                <h3>This user does not have any current projects</h3>


            }
            else
            {
                @foreach (var item in Model.AccomplishedProjects)
                {
                    <p>
                    <p>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </p>
                    <p>
                        - @Html.DisplayFor(modelItem => item.Language)
                    </p>
                    </p>
                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.ProjectId" class="links">View Project</a>
                }
            }
        </div>


        <div class="width33" id="friendsList">
            <h3>Friends</h3>

            @if (ViewBag.UsersFriendsCount >= 1)
            {

                @foreach (var item in Model.ApplicationUsers)
                {
                    <ul>
                        <li>
                            following @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                        </li>

                        <a asp-action="GetUserProfile" asp-controller="Home" asp-route-id="@item.Id" class="links">View Profile</a>
                    </ul>
                    <br />
                }
            }
            else
            {
                <h3> This user is not following any other Momentum users</h3>
                <p>
                    <a asp-action="Index" asp-controller="Friendships" class="links">View Users</a>
                </p>
            }
        </div>
    </div>

}


