@model Momentum.Models.ViewModels.UserProfileViewModel


@{
    ViewData["Title"] = "GetUserProfile";
    var loggedInUser = User.Identity.Name;
}

@if (loggedInUser == Model.User.UserName)
{


    <div class="text-center">
        <h3 class="display-4 font-italic"> @Html.DisplayFor(modelItem => Model.User.FirstName) @Html.DisplayFor(modelItem => Model.User.LastName)'s Profile</h3>
        <h4 class=" font-italic">@@@Html.DisplayFor(modelItem => Model.User.UserName)</h4>

    </div>

    <div class="profileprojects">
        <h3>Current Projects </h3>

        @if (ViewBag.projectCount == 0)
        {
            <h3>You don't have any current projects. Would you like to create one?</h3>
            <p>
                <a asp-action="Create" asp-controller="Projects">Create New</a>
            </p>

        }
        else
        {
            @foreach (var item in Model.Projects)
            {
                <p>
                <p>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </p>
                <p>
                    - @Html.DisplayFor(modelItem => item.Language)
                </p>
                </p>
                <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.ProjectId" class="links">View Project</a>
            }
        }
    </div>

    <div class="profileprojects">
        <h3>Accomplished Projects </h3>

        @if (ViewBag.accomplishedProjectCount == 0)
        {
            <h3>You don't have any accomplished projects, but keep working. You're doing great!</h3>


        }
        else
        {
            @foreach (var item in Model.AccomplishedProjects)
            {
                <p>
                <p>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </p>
                <p>
                    - @Html.DisplayFor(modelItem => item.Language)
                </p>
                </p>
                <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.ProjectId" class="links">View Project</a>
            }
        }
    </div>


    <div class="profilefriends">
        <h3>Friends</h3>

        @if (ViewBag.UsersFriendsCount >= 1)
        {

            @foreach (var item in Model.ApplicationUsers)
            {

                <div>
                    following @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                </div>

                <a asp-action="GetUserProfile" asp-controller="Home" asp-route-id="@item.Id" class="links">View Profile</a>
                <br />
            }
        }
        else
        {
            <h3> not following any other Momentum users</h3>
            <p>
                <a asp-action="Index" asp-controller="Friendships" class="links">View Users</a>
            </p>
        }
    </div>

}
else
{


    <div class="text-center">
        <h1 class="display-4">Profile</h1>
        @Html.DisplayFor(modelItem => Model.User.FirstName)
    </div>

    <div class="profileprojects">
        <h3>Current Projects </h3>

        @if (ViewBag.projectCount == 0)
        {
            <h3>This user does not have any current projects.</h3>


        }
        else
        {
            @foreach (var item in Model.Projects)
            {
                <p>
                <p>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </p>
                <p>
                    - @Html.DisplayFor(modelItem => item.Language)
                </p>
                </p>
                <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.ProjectId" class="links">View Project</a>
            }

        }
    </div>


    <div class="profilefriends">
        <h3>Friends</h3>

        @if (ViewBag.UsersFriendsCount > 1)
        {

            @foreach (var item in Model.ApplicationUsers)
            {

                <div>
                    @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                </div>

                <a asp-action="GetUserProfile" asp-controller="Home" asp-route-id="@item.Id" class="links">View Profile</a>
                <br />
            }
        }
        else
        {
            <h3>This user is not following any other Momentum users</h3>

        }
    </div>


}


