@model Momentum.Models.ViewModels.HomePageViewModel


@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Momentum</h1>
    <p>Stay motivated and keep coding by managing your side projects</p>
</div>
<div class="quotes">
    <h3>Motivational Quotes</h3>


    @foreach (var item in Model.Quotes)
    {
        <p>
        <p>
            @Html.DisplayFor(modelItem => item.Description)
        </p>
        <p>
           - @Html.DisplayFor(modelItem => item.Author)
        </p>
        </p>

    }
    <form asp-action="Index" asp-controller="Home">
        <div) class="form-group">
            <input type="submit" value="Next" />
        </div)>
    </form>
</div>

<div class="homepageprojects">
    <h3>Current Projects </h3>

    @if (ViewBag.projectCount > 1)
    {

        @foreach (var item in Model.Projects)
        {
            <p>
            <p>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </p>
            <p>
                - @Html.DisplayFor(modelItem => item.Language)
            </p>
            </p>
            <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.ProjectId">View Project</a>
        }
    }
    else
    {
        <h3>You don't have any current projects. Would you like to create one?</h3>
        <p>
            <a asp-action="Create" asp-controller="Projects">Create New</a>
        </p>
    }
</div>



